/*Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: coffee;
    src: url("./timesbi.ttf");
}


body{
    font-family:  'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    width: 97%;
    height: 90%;
    overflow: hidden;
    border-radius: 20px;
   
}

header::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background: #fec800;
    right: 0;
    z-index: -2;
}

header::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    background: #efefed;
    left: 0;
    z-index: -2;
}

header nav{
    position: absolute;
    width: 100%;
    height: 15%;
    padding: 0 2.5%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left_side,  .right_side{
    height: 20px;
    display: flex;
    align-items: center;
  
}


header nav .left_side .logo {
    width: 70px;
    margin-right: 20px;
}
header nav .left_side .nav_card {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header nav .left_side .search{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 100px;
}

header nav .left_side .search input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #343434;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
}

header nav .left_side .search i{
   font-size: 22px;
   transform: rotate(85deg);
   position: relative;
   top: -3px;
}


header nav .left_side .search i{
    font-size: 22px;
    transform: rotate(85deg);
    position: relative;
    top: -3px;
 }
 
 header nav .right_side ul{
    display: flex;
    align-items: center;
    list-style: none;    
}
header nav .right_side ul li{
    margin-left: 20px
}
 
header nav .right_side ul li a{
   color: #fff;
   font-size: 18px;
   transition: .3s linear;
}

header nav .right_side ul li a:hover{
    color: #343434;
}

 header nav .right_side .help{
    margin: 0 20px 0 40px;
    border-bottom: 2px solid #fff;
    transition: .3s linear;
}
 header nav .right_side .help a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: .3s linear;
} 
header nav .right_side .help:hover {
    border-bottom: 2px solid #343434;
}
header nav .right_side .menu_btn{
    color: #fff;
    margin-left: 20px;
    font-size: 28px;
    cursor: pointer;
    transition: .3s linear;
}

header nav .right_side .menu_btn:hover{
    color: #343434;
 
}

header section{
    width: 100%;
   /* border: 1px solid #000; */
    position: absolute;
    top: 15%;
    height: 85%;
    display: flex;
}

header section .content_bx{
    width: auto;
    height: auto;
    position: relative;
    top: 20%;
    left: 10%;
}
header section .content_bx h1{
    font-family: coffee;
    font-size: 55px;
    
}
header section .content_bx p{
    font-size: 13px;
    margin-top: 10px;
    width: 300px;
    line-height: 25px;
}
header section .content_bx a:nth-child(3){
    position: relative;
    font-size: 14px;
    color: #343434;
    text-decoration: none;
    font-family: coffee;
    top: 15px;
    transition: .3s linear;
}

header section .content_bx a:nth-child(3):hover{
    color: gray;
}
header section .content_bx a:nth-child(3)::before{
content: '';
position: absolute;
width: 100%;
height: 3px;
background: #343434;
bottom: -5px;
border-radius: 20px;
transition: .3s linear;
}

header section .content_bx a:nth-child(3):hover:before{
background: gray;
width: 50%;
}

header section .content_bx .price_bx{
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
}
header section .content_bx .price_bx h5{
    font-family: coffee;
    font-size: 60px;
}

header section .content_bx .price_bx button{
   border-radius: 50%;
   background: #fec800;
   color: #fff;
   border: none;
   outline: none;
   padding: 1px 4px;
   margin-left: 50px;
   cursor: pointer;
   transition: .3s linear;
}

header section .content_bx .price_bx button:hover i{
   font-size: 35px;
 }

header section .content_bx .price_bx button:hover{
   transform: rotate(360deg);
}
section .steps{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80%;
    background: #fec800;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

section .steps h6, h4{
    color: #fff;
}
 .steps #count::before::after{
    width: 0;
    height: 0;
    transform: none;
    content: none;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 0;
     background: none;
}
section .steps h6{
    position: relative;
    width: 2px;
    height: 70px;
    background: #fff;
    cursor: pointer;
}

section .steps h6::before{
   content: '';
    position: absolute;
    width: 3px;
    height: 20px; 
    background: #fff; 
    border-radius: 0 0 5px 5px; 
    transform: rotate(45deg);
    left: -7px;
    top: -3px;
}

section .steps h6::after{
   content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    transform: rotate(-45deg);
    right: -7px;
    top: -3px;
}
section .steps h6:nth-child(2)::before{
    border-radius: 0 0 0 0;
    transform: none;
    left: 0;
    top: 0;
    bottom: 0;
}
section .steps h6:nth-child(2)::after{

    transform: none;
    right: 0;
    top: 0;
    bottom: 0;
}
section .steps h6:nth-child(2)::before{

    transform: rotate(-45deg);
    left: -7px;
    top: unset;
    bottom: -3px;
}
section .steps h6:nth-child(2)::after{

    transform: rotate(-135deg);
    right: -7px;
    top: unset;
    bottom: -3px;
}


section .main_img{
    position: absolute;
    right: 24%;
    top: 0;
    width: 410px;
}
section .cart_pagi{
    position: absolute;
    width: 70px;
    height: 90%;
    right: 3%;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
   /* border: 1px solid #000; */
}

section .cart_pagi .pagi{
    width: 100%;
    height: 85%;
    /*border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s linear;
}
section .cart_pagi .pagi button{
   width: 10px;
   height: 10px;
   background: #fff;
   border-radius: 50%;
   outline: none;
   border: none;
   margin: 10px 5px;
   box-shadow: 0px 0px 20px rgb(0, 0, 0, .5);
   transition: .3s linear;
   cursor: pointer;
}
section .cart_pagi .pagi button:hover{
   width: 15px;
   height: 15px;
}
section .cart_pagi .pagi button:nth-child(1){
   width: 15px;
   height: 15px;
}

section .cart_pagi .cart{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .cart_pagi .cart .bi-cart4{
    padding: 5px 12px;
    border-radius: 50%;
    background: #fff;
    font-size: 22px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .1);
    cursor: pointer;
    transition: .3s linear;
}
section .cart_pagi .cart .bi-cart4:hover{
    transform: rotate(360deg);
}

section .cart_pagi .cart .cart_bx {
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 200px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s linear;
    opacity: 0;
}
section .cart_pagi .cart .cart_bx_active {
    opacity: 1;
    height: 250px;
}
section .cart_pagi .cart .cart_bx .coffee_cards {
    width: 100%;
    height: 80%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .1);
    padding: 10px 0;
    overflow-y: auto;
    scroll-behavior: smooth;
}

section .cart_pagi .cart .cart_bx .coffee_cards::-webkit-scrollbar {
    width: 5px;
    background: rgb(254, 200, 0, .3);
}
section .cart_pagi .cart .cart_bx .coffee_cards::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(254, 200, 0,);
    border-radius: 10px;
}

section .cart_pagi .cart .cart_bx .coffee_total{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .cart_pagi .cart .cart_bx .coffee_cards .crd{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
section .cart_pagi .cart .cart_bx .coffee_cards .crd .img_title{
    display: flex;
    align-items: center;
}
section .cart_pagi .cart .cart_bx .coffee_cards .crd .img_title img{
    width: 30px;
    margin-right: 5px;
}
section .cart_pagi .cart .cart_bx .coffee_cards .crd .img_title .title_price h5{
    font-size: 12px;
}
section .cart_pagi .cart .cart_bx .coffee_cards .crd i{
    cursor: pointer;
}

section .cart_pagi .cart .cart_bx .coffee_total{
    padding: 0 20px;
}
